@model OverDeRheinKraanKeuringen.ViewModels.CableCheckListViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Wijzig</h2>

<h4>Kabelchecklist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CableChecklist.Id" />
            <div class="form-group">
                <label asp-for="CableChecklist.Breakage_6D" class="control-label"></label>
                <input asp-for="CableChecklist.Breakage_6D" class="form-control" />
                <span asp-validation-for="CableChecklist.Breakage_6D" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CableChecklist.Breakage_30D" class="control-label"></label>
                <input asp-for="CableChecklist.Breakage_30D" class="form-control" />
                <span asp-validation-for="CableChecklist.Breakage_30D" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CableChecklist.DamageOutside" class="control-label"></label>
                @Html.DropDownListFor(model => model.CableChecklist.DamageOutside, Html.GetEnumSelectList(typeof(DamageLevel)), "Selecteer mate van beschadiging", new { @class = "form-control" })
                <span asp-validation-for="CableChecklist.DamageOutside" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CableChecklist.DamageCorrosion" class="control-label"></label>
                @Html.DropDownListFor(model => model.CableChecklist.DamageCorrosion, Html.GetEnumSelectList(typeof(DamageLevel)), "Selecteer mate van beschadiging", new { @class = "form-control" })
                <span asp-validation-for="CableChecklist.DamageCorrosion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CableChecklist.ReducedCableDiameter" class="control-label"></label>
                <input asp-for="CableChecklist.ReducedCableDiameter" class="form-control" />
                <span asp-validation-for="CableChecklist.ReducedCableDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CableChecklist.PositionMeasuringPoints" class="control-label"></label>
                <input asp-for="CableChecklist.PositionMeasuringPoints" class="form-control" />
                <span asp-validation-for="CableChecklist.PositionMeasuringPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CableChecklist.DamageTotal" class="control-label"></label>
                @Html.DropDownListFor(model => model.CableChecklist.DamageTotal, Html.GetEnumSelectList(typeof(DamageLevel)), "Selecteer mate van beschadiging", new { @class = "form-control" })
                <span asp-validation-for="CableChecklist.DamageTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CableChecklist.DamageTypes" class="control-label"></label>
                @Html.DropDownListFor(model => model.DamageTypeIds, new MultiSelectList(Html.GetEnumSelectList(typeof(DamnType)), "Text", "Value", Html.GetEnumSelectList(typeof(DamnType)).Select(a => a.Text)), new { @class = "multiSelect", @multiple = "multiple" })
                <span asp-validation-for="CableChecklist.DamageTypes" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-succes" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Assignments" asp-action="Index">Terug naar lijst</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
