@model List<OverDeRheinKraanKeuringen.Models.Assignment>

@{
    ViewData["Title"] = "Home Page";
}

<br />
<h2>Opdrachten</h2>
<br />
<form>
    <button formaction="/Assignments/Create">Nieuwe opdracht</button>
</form>
<br />
<br />
@*<div class="bs-example">
    <div class="panel-group" id="accordionY">*@
<ejs-accordion id="defaultAccordion" expandMode="Single">
    <e-accordion-accordionitems>
        @if (Model != null)
        {
            //int i = 1;
            foreach (var assigment in Model)
            {
                <partial name="_AssignmentPartial" for="@assigment" />
            }
        }
        else
        {
            <p>Er zijn op dit moment geen opdrachten ingevoerd</p>
        }
      @* <e-accordion-accordionitem header="JavaScript" content="JavaScript (JS) is an interpreted computer programming language.It was originally implemented as part of web browsers so that client-side scripts could interact with the user, control the browser, communicate asynchronously, and alter the document content that was displayed.More recently, however, it has become common in both game development and the creation of desktop applications."></e-accordion-accordionitem>*@

    </e-accordion-accordionitems>
</ejs-accordion>
@*</div>
    </div>*@


<!--
<div id="accordion">
    @*foreach (AssignmentModel assignmentModel in Model)
    {
        @*TODO Meegeven assignment aan partial

    }*@
</div>
-->
