<!--DEZE INDEX FILE NIET GEBRUIKEN!-->

@model IEnumerable<OverDeRheinKraanKeuringen.Models.Assignment>


@{
    ViewData["Title"] = "Home Page";
}

<!--
<br />
<h2>Opdrachten</h2>
<br />
<form>
    <button formaction="/Assignments/Create">Nieuwe opdracht</button>
</form>
<br />
<br />
<div class="bs-example">
    <div class="panel-group" id="accordionY">
        @if (Model != null)
        {
            @foreach (var assignment in Model)
            {
                int i = assignment.Id;
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table>
                            <tr>
                                <th>
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionY" href="#collapse_@i">Opdrachtnr. @i</a>
                                    </h4>
                                </th>
                                <th>
                                    <h4 style="margin-left:20px">@assignment.Date</h4>
                                </th>
                                <th>
                                    <h4 style="margin-left:20px">Hello There!</h4>
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div id="collapse_@i" class="panel-collapse collapse">
                        <div class="panel-body">
                            <partial name="~/Views/Shared/_AssignmentPartial.cshtml" />
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Er zijn op dit moment geen opdrachten ingevoerd</p>
        }
    </div>
</div>
    -->
<!--
<div id="accordion">
    @*foreach (AssignmentModel assignmentModel in Model)
    {
        @*TODO Meegeven assignment aan partial
        <partial name="_AssignmentPartial" data="@assignmentModel" />
    }*@
</div>
-->
